body{
    font-family: 'montserrat', sans-serif;
    overflow-x:hidden ;
}

/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/
/* 1.- Menú-
--------------------------------*/
#menu a{
    font: size 18px;
    color: black;
}

#sesion_icon{
    display: flex;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
/* -----------------------------*/
/* 2-. Menú- efecto indicador 
animado por debajo del texto
--------------------------------*/

.nav-link {
    position: relative;
}

.nav-link::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}



.nav-link:hover:after{
    width: 100%;
    right: 0;
}


.navbar-brand{
    position: relative;
}


.navbar-brand::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}

.navbar-brand:hover::after{
    width: 100%;
    right: 0;
}
/* -----------------------------*/
/* 2-. Menú- ocultan el icono de 
menú y colocar el icono de X
--------------------------------*/
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background:  #0259ed;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}



/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Imagen en Carrucel 
--------------------------------*/
.d-item{
    height: 450px;
}

.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
