#titulos{
    background-image:linear-gradient(
        90deg,
        rgb(210, 248, 248)50%,
        rgb(186, 210, 210)90%,
        rgb(118, 158, 158)95%
        );
    border-radius: 35px;
}

/*#titulos{
    background-image:linear-gradient(
        rgb(255, 255, 133) 50%, rgb(218, 241, 255) 75%);  
    border-radius: 15px;
}*/

/*#titulos{
     
     background-color: #FFFFCC;
     background-image: linear-gradient(90deg,
     rbg(255,255,255),transparent);
}*/

/*#titulos{
    background-image:linear-gradient(
        90deg,
        rgb(210, 248, 248)50%,
        rgb(186, 210, 210)90%,
        rgb(118, 158, 158)95%
        );
    border-radius: 35px;
}*/

/*#titulos{
    background-image:linear-gradient(
        rgb(236, 236, 95) 50%, rgb(158, 202, 229) 75%);  
    border-radius: 15px;
}*/