/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/
/* 1.- Menú-
--------------------------------*/
#menu a{
    font: size 18px;
    color: black;
}

#sesion_icon{
    display: flex;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/
/* 2.- Menú- ICONO DE 3 LINEAS 
--------------------------------*/
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #0259ed;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}

/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/
/* 1.- Menú- texto under line 
--------------------------------*/
.nav-link {
    transition: all 0.5s;
    position: relative;
    
}



    .nav-link:hover{
        
   text-decoration: underline #ffff00 4px;
   /*border-bottom: 4px solid yellow;*/
   
    }

    

/*    
.nav-link:hover::after{
    content:'';
    height: 4px;
    width: 100%;
    background-color: #fbf433;
    position: absolute;
    bottom:0 ;
    left: 0;
}*/
    